Hello <%= @recipient %>!

Idea Name: <%= @idea.name %>

Description: <%= @idea.description %>
Problem: <%= @idea.problem %>
Solution: <%= @idea.solution %>
Market: <%= @idea.market %>
Competition: <%= @idea.competition %>
Demand: <%= @idea.demand %>

Sent from <a href="http://localhost:3000/">inc'd</a>