<!DOCTYPE html>
<html>
<head>
  <title>inc'd - incubate your ideas</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
    <% if current_user %>
      <%= render partial: 'layouts/sidenavbar'%>
    <% end %>

  <%= yield %>

</div>

</body>
</html>

